// $ail-purple: #4f008c;
$ail-purple: #333333;
$ail-christalle: #3f0070;
$ail-ripe-plum: #320059;
$ail-coral: #ff375e;
$ail-coral-dark: #ab223d;
$ail-coral-light: #ff8099;
$ail-oasis-light: #00c48c;
$ail-oasis: #f2fcf9;
$ail-silver: #8e9aa0;
$ail-gray: #5d696f;
$ail-dark-gray: rgba(0, 0, 0, 0.2);
$ail-black: #1d252d;
$ail-light-purple: #b999d1;

$white: #ffffff;
$light-grey: #eaedf3;
$dark-grey: #2f3036;
$desert-storm: #f3f3f1;
$light-font-color: #f0f0f0;
$footer-dark-color: #6b6c6f;
$beige-color: #f3f3f0;
$dark-font-color: #1d252d;
$error-state-color: #c80025;
$error-state-light: #fff4f6;
$error-state-medium: #ff375e;
$border-gray-color: #d7d7d7;
$border-light-gray-color: #d5d5d5;
$line-separator-light-gray-color: #dde0e2;
$orange-color: #ff6a39;
$gray-font-color: #ffffff99;
$gray-border-color: #ebebeb;
$light-gray-circle: #e5e5e5;
$light-purple: #cab2dd;
$light-purple-bg: #f9f5fb;
$light-silver-bg: #e6e6e6;
$dropdown-boxshadow-color: #959595;
$light-grey-form-components: #ccc;
$slider-inactive-grey: #bec8cd;
$coral: #e73d5e;
$noDataColor: #bbb;
$schedule-meeting-yellow: #ffc519;
$chat-internal: #fff9e1;
$chat-internal-border: #ffdd40;
$chat-automated: #f3f3f1;
