<div class="container">
    <div class="header">
        <h1>Most famous actors</h1>
        <div class="add-actor">
            <mat-icon class="trash-can" (click)="onAdd()" >add_circle</mat-icon>
        </div>
        <button><mat-icon class="trash-can" (click)="updateSubjectBehaviourSubject()" >add_circle</mat-icon></button>
    </div>
    <div class="actor-list">     
        <div *ngFor=" let actor of actors$ | async">
            <app-actor-card [actor]="actor"></app-actor-card>
        </div>
    </div>
</div>