//Margins

.mrgn-0{
    margin: 0rem !important;
}

.mrgn-1{
    margin: 0.5rem !important;
}

.mrgn-2{
    margin: 1rem !important;
}

.mrgn-3{
    margin: 2rem !important;
}

.mrgn-4{
    margin: 3rem !important;
}

.mrgn-5{
    margin: 4rem !important;
}

.mrgn-6{
    margin: 5rem !important;
}

.mrgn-t-1{
    margin-top: 0.5rem !important;
}

.mrgn-t-2{
    margin-top: 1rem !important;
}

.mrgn-t-3{
    margin-top: 2rem !important;
}

.mrgn-t-4{
    margin-top: 3rem !important;
}

.mrgn-t-5{
    margin-top: 4rem !important;
}

.mrgn-t-6{
    margin-top: 5rem !important;
}

.mrgn-l-1{
    margin-left: 0.5rem !important;
}

.mrgn-l-2{
    margin-left: 1rem !important;
}

.mrgn-l-3{
    margin-left: 2rem !important;
}

.mrgn-l-4{
    margin-left: 3rem !important;
}

.mrgn-l-5{
    margin-left: 4rem !important;
}

.mrgn-l-6{
    margin-left: 5rem !important;
}

.mrgn-b-1{
    margin-bottom: 0.5rem !important;
}

.mrgn-b-2{
    margin-bottom: 1rem !important;
}

.mrgn-b-3{
    margin-bottom: 2rem !important;
}

.mrgn-b-4{
    margin-bottom: 3rem !important;
}

.mrgn-b-5{
    margin-bottom: 4rem !important;
}

.mrgn-b-6{
    margin-bottom: 5rem !important;
}

.mrgn-b-none{
    margin-bottom: 0 !important;
}

.mrgn-r-1{
    margin-right: 0.5rem !important;
}

.mrgn-r-2{
    margin-right: 1rem !important;
}

.mrgn-r-3{
    margin-right: 2rem !important;
}

.mrgn-r-4{
    margin-right: 3rem !important;
}

.mrgn-r-5{
    margin-right: 4rem !important;
}

.mrgn-r-6{
    margin-right: 5rem !important;
}

//Paddings

.pdn-1{
    padding: 0.5rem !important;
}

.pdn-2{
    padding: 1rem !important;
}

.pdn-3{
    padding: 2rem !important;
}

.pdn-4{
    padding: 3rem !important;
}

.pdn-5{
    padding: 4rem !important;
}

.pdn-6{
    padding: 5rem !important;
}

.pdn-t-1{
    padding-top: 0.5rem !important;
}

.pdn-t-2{
    padding-top: 1rem !important;
}

.pdn-t-3{
    padding-top: 2rem !important;
}

.pdn-t-4{
    padding-top: 3rem !important;
}

.pdn-t-5{
    padding-top: 4rem !important;
}

.pdn-t-6{
    padding-top: 5rem !important;
}

.pdn-l-1{
    padding-left: 0.5rem !important;
}

.pdn-l-2{
    padding-left: 1rem !important;
}

.pdn-l-3{
    padding-left: 2rem !important;
}

.pdn-l-4{
    padding-left: 3rem !important;
}

.pdn-l-5{
    padding-left: 4rem !important;
}

.pdn-l-6{
    padding-left: 5rem !important;
}

.pdn-b-1{
    padding-bottom: 0.5rem !important;
}

.pdn-b-2{
    padding-bottom: 1rem !important;
}

.pdn-b-3{
    padding-bottom: 2rem !important;
}

.pdn-b-4{
    padding-bottom: 3rem !important;
}

.pdn-b-5{
    padding-bottom: 4rem !important;
}

.pdn-b-6{
    padding-bottom: 5rem !important;
}

.pdn-r-1{
    padding-right: 0.5rem !important;
}

.pdn-r-2{
    padding-right: 1rem !important;
}

.pdn-r-3{
    padding-right: 2rem !important;
}

.pdn-r-4{
    padding-right: 3rem !important;
}

.pdn-r-5{
    padding-right: 4rem !important;
}

.pdn-r-6{
    padding-right: 5rem !important;
}

.pdn-y-1{
    padding: .5rem 0;
}