mat-sidenav-container {
    height: 100vh;
}

mat-sidenav,
mat-sidenav-content {
    padding: 0;
}

mat-sidenav {
    background-color: $primaryColor;
    width: 250px;
}

.mat-mdc-list-item .mdc-list-item__content {
    width: 100%;
}

mat-divider{
    background-color: rgb(255 255 255 / 12%) !important;
}

.mat-mdc-list-item .mdc-list-item__content span {
    color: #e4e7ef;
    font-size: 0.9rem;
    outline: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 3.25rem;
    font-weight: 400;
}

.mat-mdc-list-item .mdc-list-item__content span mat-icon {
    font-size: 1.2rem;
    margin-right: 0.75rem;
    padding-top: 2px;
    opacity: 0.5;
    color: #e4e7ef;
}

mat-sidenav-content {
    padding: 0.5rem;
}

.sidenav-scrollbar-container {
    height: 100%;
}

.sidenav-scrollbar-container mat-toolbar {
    border-bottom: 1px solid #4f4f4f;
    height: 10%;
    background: none;
    img {
        width: 70px;
    }
}  

:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
}

.mat-mdc-list-item.active {
    background-color: darken($color: $primaryColor, $amount: 5%);
}

app-menu-list {

    &:hover,
    &:focus {
        >.mat-mdc-list-item:not(.expanded) {
            background-color: darken($color: $primaryColor, $amount: 5%) !important;
        }
    }
}

.mat-list-item {
    display: flex;
    width: 100%;
    .routeIcon {
        margin-right: 0.5em;
    }
}

.btn-text {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.page{
    font-size: 20px;
    font-weight: 300;
}