<lib-ngx-generic-table [data]='users' [totalElements]="records" [pageSize]="pageSize" [pagingType]="pagingType"
    (pageChange)="pageChanged($event)" (sorting)="serverHandledSorting($event)"
    (filtering)="serverHendledFiltering($event)">
    <app-dg-column [header]="'Movies'" [width]="120" [minWidth]="120"  [dataType]="FilterDataType.NUMBER"
        [filterOptOn]="false">
        <ng-template [appTableRow]="users" [template]="Template.BODY" let-rowData>
            <div class="movie-card">
                <img class="movie-poster" src="{{rowData.imageLink}}" alt="Movie Poster">
                <div class="movie-details">
                    <div>
                        <h2 class="movie-title">{{rowData.name | titlecase}}</h2>
                        <div class="movie-rating-container">
                            <span class="movie-rating">{{rowData.rating}}</span>
                            <app-rating-star [rating]="rowData.rating"></app-rating-star>
                        </div>
                    </div>
                    <p class="movie-info">
                        <span class="movie-year">{{rowData.year}}</span>
                        <span class="movie-genre">{{rowData.genre}}</span>
                      
                    </p>
                    <p class="movie-description">
                        {{rowData.description}}
                    </p>
                </div>
            </div>
        </ng-template>
    </app-dg-column>
    <ng-template [template]="Template.NO_RESULT">
        <div class="no-result">
            <div>
                <div class="no-result-title">Custom Template Provided in component implementation</div>
                <div class="no-result-title">There is nothing here.</div>
                <div class="no-result-subtitle">
                    Try refreshing the page or changing your search.
                </div>
            </div>
        </div>
    </ng-template>
</lib-ngx-generic-table>