<div style="overflow: auto;
height: 100%;">
    <div *ngIf="!showSeries && movies" class="movies-container">
        <h2 class="title">MOVIES</h2>
        <div *ngFor="let user of movies">
            <div class="movie-card">
                <img class="movie-poster" src="{{user.imageLink}}" alt="Movie Poster">
                <div class="movie-details">
                    <div class="title-wrapper">
                        <h2 class="movie-title">{{user.name | titlecase}}</h2>
                        <div class="movie-rating-container">
                            <span class="movie-rating">{{user.rating}}</span>
                            <app-rating-star [rating]="user.rating"></app-rating-star>
                        </div>
                    </div>
                    <div class="details-wrapper">
                        <p class="movie-info">
                            <span class="movie-year">{{user.year}}</span>
                            <span class="movie-genre">{{user.genre}}</span>
    
                        </p>
                        <p class="movie-description">
                            {{user.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showSeries" style="overflow: auto;
    height: 100%;">
        <h2 class="title">TV SHOWS</h2>
        <div *ngFor="let tvShow of tvShows">
            <div class="movie-card">
                <img class="movie-poster" src="{{tvShow.imageLink}}" alt="Movie Poster">
                <div class="movie-details">
                    <div class="title-wrapper">
                        <h2 class="movie-title">{{tvShow.name | titlecase}}</h2>
                        <div class="movie-rating-container">
                            <span class="movie-rating">{{tvShow.rating}}</span>
                            <app-rating-star [rating]="tvShow.rating"></app-rating-star>
                        </div>
                    </div>
                    <div class="details-wrapper">
                        <p class="movie-info">
                            <span class="movie-year">{{tvShow.year}}</span>
                            <span class="movie-genre">{{tvShow.genre}}</span>
    
                        </p>
                        <p class="movie-description">
                            {{tvShow.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>