<div class="top-movie-wrapper">
    <mat-form-field class="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput placeholder="Search"  #input>
      </mat-form-field>
    <div *ngIf="!showSeries && movies">
        <h2 class="title">MOVIES</h2>
        <div *ngFor="let movie of searchedMovies">
            <div class="movie-card">
                <img class="movie-poster" src="{{movie.imageLink}}" alt="Movie Poster">
                <div class="movie-details">
                    <div class="title-wrapper">
                        <h2 class="movie-title">{{movie.name | titlecase}}</h2>
                        <div class="movie-rating-container">
                            <span class="movie-rating">{{movie.rating}}</span>
                            <app-rating-star [rating]="movie.rating"></app-rating-star>
                        </div>
                    </div>
                    <div class="details-wrapper">
                        <p class="movie-info">
                            <span class="movie-year">{{movie.year}}</span>
                            <span class="movie-genre">{{movie.genre}}</span>

                        </p>
                        <p class="movie-description">
                            {{movie.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showSeries">
        <h2 class="title">TV SHOWS</h2>
        <div *ngFor="let tvShow of searchedTvShow">
            <div class="movie-card">
                <img class="movie-poster" src="{{tvShow.imageLink}}" alt="Movie Poster">
                <div class="movie-details">
                    <div class="title-wrapper">
                        <h2 class="movie-title">{{tvShow.name | titlecase}}</h2>
                        <div class="movie-rating-container">
                            <span class="movie-rating">{{tvShow.rating}}</span>
                            <app-rating-star [rating]="tvShow.rating"></app-rating-star>
                        </div>
                    </div>
                    <div class="details-wrapper">
                        <p class="movie-info">
                            <span class="movie-year">{{tvShow.year}}</span>
                            <span class="movie-genre">{{tvShow.genre}}</span>

                        </p>
                        <p class="movie-description">
                            {{tvShow.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="movies">
        <a class="show-more" (click)="showMoreRecords()">Show 10 More !</a>
    </div>
</div>