<div>
  <mat-sidenav-container #sidenavContainer>
      <mat-sidenav class="bg-primary text-dark" #sidenav [mode]="navigationService.sidenavMode"
          [disableClose]="navigationService.sidenavMode === 'side'" [(opened)]="navigationService.isOpen"
          (opened)="navigationService.ToogleSidebar(true)" (closed)="navigationService.ToogleSidebar(false)">
          <div class="sidenav-scrollbar-container">
              <mat-toolbar class="sidebar-logo">
                  <img src="assets/img/logo.png" alt="logo">
              </mat-toolbar>
              <mat-nav-list>
                  <ng-container>
                      <ng-container *ngFor="let item of userNavigationItems">
                          <app-menu-list [item]="item"></app-menu-list>
                      </ng-container>
                  </ng-container>
                  <mat-divider></mat-divider>
                  <ng-container>
                      <ng-container *ngFor="let item of permissionNavigationItems">
                          <app-menu-list [item]="item"></app-menu-list>
                      </ng-container>
                  </ng-container>
              </mat-nav-list>
          </div>
      </mat-sidenav>
      <mat-sidenav-content>
          <div class="mrgn-b-md pdn-r-2 pdn-l-2 pdn-t-1" style="display:flex;align-items: center;">
              <button class="mrgn-r-md" color="primary" data-title="'Menu'" (click)="sidenav.toggle()"
                  mat-raised-button mat-icon-button mat-button-sm>
                  <mat-icon>menu</mat-icon>
              </button>
              <p class="mrgn-l-2 page">{{page}} Test</p>
              <div></div>
          </div>
          <router-outlet>
          </router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>